# Python Assignment 3

## Q1 :Create an empty set. Prompt the user to enter a number between 1-99. Add the numbers in the set. Repeat 5 times

In [1]:
set_A= set()

In [2]:
set_A={input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:')}

enter number from 1-99:10
enter number from 1-99:14
enter number from 1-99:89
enter number from 1-99:75
enter number from 1-99:65

In [3]:
set_A

{'10', '14', '65', '75', '89'}

## Q2: Print the length of the set.

In [4]:
len(set_A)

5

## Q3:If the length is less than 5 elements, prompt the user again to enter more numbers

### answer: Here length is 5.

## Q4:Create another empty set and prompt the user to enter any number between 1-99. Add the numbers in the set.Repeat 5 times

In [5]:
set_B={input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:'),
      input('enter number from 1-99:')}

enter number from 1-99:45
enter number from 1-99:26
enter number from 1-99:10
enter number from 1-99:98
enter number from 1-99:62

In [6]:
set_B

{'10', '26', '45', '62', '98'}

## Q5:Check for the following

### Q-a: Does both the sets have any numbers in common?

In [7]:
set_C=set_A.intersection(set_B)

In [8]:
set_C

{'10'}

### Q-b: Are both sets disjoint?

In [9]:
set_A.isdisjoint(set_B)

False

## Q6:From the two sets, get the elements which are unique to each set (only present in either of the set).

In [10]:
set_A.union(set_B)

{'10', '14', '26', '45', '62', '65', '75', '89', '98'}

## Q7: Create a set containing names of any 10 animals.

In [11]:
set_animal={'Dog','Cow','Cat','Horse',
'Donkey','Tiger','Lion','Panther'
,'Leopard','Cheetah','Bear','Elephant'}

## Q8:Create an empty set. Prompt the user to enter their favourite animal.

In [12]:
set_animal_fav=set()

In [13]:
set_animal_fav={input('enter your favorite animal:')}

enter your favorite animal:Dog

In [14]:
set_animal_fav

{'Dog'}

## Q9: Does their favourite animal exists in the set created by you?

In [15]:
set_animal_fav.issubset(set_animal)

True