# Python Assignment 4

## Copy the following code in one cell and run in your Notebook to Enter entries. Enter any 5 random Entries.

In [3]:
book = {} 
def info_book(): 
    """Creates a phone book with names as key and a list of dictionaries as values""" 
    while True: 
        names = input('Please enter the First and Last name separated by space (or type "exit" to quit): ') 
        if names.lower() == 'exit': 
            break 
        number = input('Please enter the phone number: ') 
        address = input('Please enter your location: ') 
        full_name = " ".join(names.split()) 
# Check if the full name exists in the phone book 
        if full_name in book: 
# If the name exists , append the new entry to the existing list of entries 
            book[full_name].append({ 'address' : address, 'number' : number }) 
        else : 
# If the name does not exist, create a new entry with a list containing the dictionary 
             book[full_name] = [{ 'address' : address, 'number' : number }] 
    
    return book 
info_book()

Please enter the First and Last name separated by space (or type "exit" to quit): RRK
Please enter the phone number: 852369
Please enter your location: patna
Please enter the First and Last name separated by space (or type "exit" to quit): Munna
Please enter the phone number: 879461
Please enter your location: Laxmi nagar
Please enter the First and Last name separated by space (or type "exit" to quit): Sohan
Please enter the phone number: 852639
Please enter your location: Delhi
Please enter the First and Last name separated by space (or type "exit" to quit): Rohit
Please enter the phone number: 745698
Please enter your location: Delhi
Please enter the First and Last name separated by space (or type "exit" to quit): Ravi
Please enter the phone number: 784569
Please enter your location: Laxmi nagar
Please enter the First and Last name separated by space (or type "exit" to quit): exit

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}]}

## Q1:. Print all the names in the above dictionary.

In [4]:
book.keys()

dict_keys(['RRK', 'Munna', 'Sohan', 'Rohit', 'Ravi'])

## Q2:. Print all the values associated with the names.

In [5]:
book.items()

dict_items([('RRK', [{'address': 'patna', 'number': '852369'}]), ('Munna', [{'address': 'Laxmi nagar', 'number': '879461'}]), ('Sohan', [{'address': 'Delhi', 'number': '852639'}]), ('Rohit', [{'address': 'Delhi', 'number': '745698'}]), ('Ravi', [{'address': 'Laxmi nagar', 'number': '784569'}])])

## Q3:You want to enter one more Name but the number and address are not known yet. Add the new name with no values in the above dictionary.

In [6]:
book.setdefault('Amit')

In [7]:
book

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}],
 'Amit': None}

## Q4:Add a candidate with the name ‘Matt Daemon’ whose number is 555010898 and lives in Pune to the book dictionary.

In [8]:
 #new_name = {'Matt Daemon':[{'address':'Pune','number':555010898}]}

In [10]:
info_book()

Please enter the First and Last name separated by space (or type "exit" to quit): Matt Daemon
Please enter the phone number: 555010898
Please enter your location: Pune
Please enter the First and Last name separated by space (or type "exit" to quit): exit

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}],
 'Amit': None,
 'Sahil': [{'address': 'Mumbai', 'number': '632598'}],
 'Matt Daemon': [{'address': 'Pune', 'number': '555010898'}]}

## Q5:Matt Daemon has relocated to New York and his new number is 444333888. Change his number and address in the dictionary

In [12]:
book.update({'Matt Daemon':[{'address':'New York','number':444333888}]})

In [13]:
book

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}],
 'Amit': None,
 'Sahil': [{'address': 'Mumbai', 'number': '632598'}],
 'Matt Daemon': [{'address': 'New York', 'number': 444333888}]}

## Q6:Given below is another information stored in dictionary made by your colleague. Add/Merge these values to you existing book dictionary.

In [20]:
merge={'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}],
'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
'Alex Botez': [{'address': 'California', 'number': '464555202'}],
'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

In [21]:
book.update(merge)

In [22]:
book

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}],
 'Amit': None,
 'Sahil': [{'address': 'Mumbai', 'number': '632598'}],
 'Matt Daemon': [{'address': 'New York', 'number': 444333888}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}],
 'Jon Snow': [{'address': 'Sydney', 'number': '500600700'}]}

## Q7. Jon Snow has ended membership from your organization. Remove his entry and details from your dictionary.

In [23]:
book.pop('Jon Snow')

[{'address': 'Sydney', 'number': '500600700'}]

In [24]:
book

{'RRK': [{'address': 'patna', 'number': '852369'}],
 'Munna': [{'address': 'Laxmi nagar', 'number': '879461'}],
 'Sohan': [{'address': 'Delhi', 'number': '852639'}],
 'Rohit': [{'address': 'Delhi', 'number': '745698'}],
 'Ravi': [{'address': 'Laxmi nagar', 'number': '784569'}],
 'Amit': None,
 'Sahil': [{'address': 'Mumbai', 'number': '632598'}],
 'Matt Daemon': [{'address': 'New York', 'number': 444333888}],
 'Thomas Shelby': [{'address': 'Birmingham', 'number': '888000111'}],
 'Alex Botez': [{'address': 'California', 'number': '464555202'}],
 'Vidit Gujarati': [{'address': 'Mumbai', 'number': '7711155530'}],
 'Manasi Joshi': [{'address': 'Delhi', 'number': '8000500023'}]}

## Q8:Check/Print how many entries you have in your dictionary.

In [48]:
len(book)

12